{% extends "base.html.twig" %}

{% block body %}
<h2>Profil</h2>
  <div class="block">
    
  {{ form_start(userForm, {'attr': {'class': 'userForm_layout'}}) }}
 <img src="{{ app.user.getPhotoPath() }}" alt="Photo de profil" class="profile-picture">
         
    <p class="userForm_field">
   
  
    </p>
     <p class="userForm_field">
        {{ form_label(userForm.userName, null, {'label_attr': {'class': 'userForm_label'}}) }}
        {{ form_widget(userForm.userName, {'attr': {'class': 'userForm_input'}}) }}
    </p>
    <p class="userForm_field">
        {{ form_label(userForm.firstName, null, {'label_attr': {'class': 'userForm_label'}}) }}
        {{ form_widget(userForm.firstName, {'attr': {'class': 'userForm_input'}}) }}
    </p>
     <p class="userForm_field">
        {{ form_label(userForm.lastName, null, {'label_attr': {'class': 'userForm_label'}}) }}
        {{ form_widget(userForm.lastName, {'attr': {'class': 'userForm_input'}}) }}
    </p>
    
   
    {{ form_end(userForm) }}
</div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
{% endblock %}