{% extends "base.html.twig" %}

{% block body %}
<h2>Profil</h2>
  <div class="block">
    
  {{ form_start(formProfile, {'attr': {'class': 'formProfile_layout'}}) }}
 
         
    <p class="formProfile_field">
        {{ form_label(formProfile.photo, null, {'label_attr': {'class': 'formProfile_label'}}) }}
        {{ form_widget(formProfile.photo, {'attr': {'class': 'formProfile_input'}}) }}
    <button type="submit" class="formProfile_btn">Modifier</button>
    </p>
     <p class="formProfile_field">
        {{ form_label(formProfile.userName, null, {'label_attr': {'class': 'formProfile_label'}}) }}
        {{ form_widget(formProfile.userName, {'attr': {'class': 'formProfile_input'}}) }}
    </p>
    <p class="formProfile_field">
        {{ form_label(formProfile.firstName, null, {'label_attr': {'class': 'formProfile_label'}}) }}
        {{ form_widget(formProfile.firstName, {'attr': {'class': 'formProfile_input'}}) }}
    </p>
     <p class="formProfile_field">
        {{ form_label(formProfile.lastName, null, {'label_attr': {'class': 'formProfile_label'}}) }}
        {{ form_widget(formProfile.lastName, {'attr': {'class': 'formProfile_input'}}) }}
    </p>
    <button type="submit" class="formProfile_btn">Modifier</button>
   
    {{ form_end(formProfile) }}
</div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
{% endblock %}