{% extends 'base.html.twig' %}

{% block body %}
<form id="form_login" class="form_layout" method="POST" action="{{ path('login') }}">
    <fieldset name="login">
        <h3 class="form_title">Connexion</h3>
        
        {% if error %}
            <small class="form_errors">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </small>
        {% endif %}
        
        <p class="form_field">
            <label for="email_login" class="form_label">Email</label>
            <input class="form_input" type="email" name="_username" id="email_login" value="{{ last_username }}" required autofocus>
        </p>

        <p class="form_field">
            <label for="password_login" class="form_label">Mot de passe</label>
            <input type="password" name="_password" id="password_login" class="password_eye form_input" toggle required>
        </p>
         
         <p class="form_field">
            <input type="checkbox" name="_remember_me" id="remember" class="checkbox">
            <label for="remember" class="rememberMe">Se souvenir de moi</label>
        </p>
        

<button type="submit" class="form_btn">Envoyer</button>
        <p class="form_field-center">
            
            <a href="{{ path('reset-password-request') }}" class="form_password-forgot">Mot de passe oublié ?</a>

            <a class="register_button" href="{{ path('signup') }}">Pas encore inscrit ?</a>
        </p> 
        
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </fieldset>
</form>
{% endblock %}
