{% extends "base.html.twig" %}

{% block body %}

<div class="block">

    {{ form_start(emailForm, {'attr': {'class': 'form_reset-layout'}}) }}

    <h3>Réinitialisation <br>mot de passe</h3>

    <p class="form_field">
        {{ form_label(emailForm.email, null, {'label_attr':{'class': 'form_label'}}) }}
        {{ form_widget(emailForm.email, {'attr': {'class': 'form_input'}}) }}
        <small class="form_errors">{{ form_errors(emailForm.email) }}</small>
    </p>

    <button type="submit" class="form_btn">Envoyer</button>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {{ form_end(emailForm) }}
    
</div>

{% endblock %}








 