{% extends "base.html.twig" %}


{% block body %}
  <div class="block">
    
  {{ form_start(registrationform, {'attr': {'class': 'form_layout'}}) }}
  <h3 class="form_title">Inscription</h3>

           <p class="form_field">
        {{ form_label(registrationform.username, null, {'label_attr': {'class': 'form_label'}}) }}
        {{ form_widget(registrationform.username, {'attr': {'class': 'form_input'}}) }}
    </p> 
    <p class="form_field">
        {{ form_label(registrationform.email, null, {'label_attr': {'class': 'form_label'}}) }}
        {{ form_widget(registrationform.email, {'attr': {'class': 'form_input'}}) }}
    </p>
    <p class="form_field">
        {{ form_label(registrationform.password.first, null, {'label_attr': {'class': 'form_label'}}) }}
        {{ form_widget(registrationform.password.first, {'attr': {'class': 'form_input'}}) }}
    </p>
       <p class="form_field">
        {{ form_label(registrationform.password.second, null, {'label_attr': {'class': 'form_label'}}) }}
        {{ form_widget(registrationform.password.second, {'attr': {'class': 'form_input'}}) }}
    </p>
    <button type="submit" class="form_btn">Envoyer</button>
    <small>
      <a href="{{ path('login') }}" class="register_button">Vous avez déjà un compte ?</a>
    </small>
    {{ form_end(registrationform) }}
</div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
{% endblock %}