{% extends "base.html.twig" %}

{% block body %}



    {{ form_start(registrationForm, {'attr': {'class': 'form_signup-layout'}}) }}
        <h3>Inscription</h3>

        <fieldset class="form_field">
            {{ form_label(registrationForm.username, null, {'label_attr':{'class': 'form_label'}}) }}
            {{ form_widget(registrationForm.username, {'attr': {'class': 'form_input'}}) }}
            <small class="form_errors">{{ form_errors(registrationForm.username) }}</small>
        </fieldset>

        <fieldset class="form_field">
            {{ form_label(registrationForm.email, null, {'label_attr': {'class': 'form_label'}}) }}
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form_input'}}) }}
            <small class="form_errors">{{ form_errors(registrationForm.email) }}</small>
        </fieldset>

        <fieldset class="form_field">
            {{ form_label(registrationForm.password.first, null, {'label_attr': {'class': 'form_label'}}) }}
            {{ form_widget(registrationForm.password.first, {'attr': {'class': 'form_input'}}) }}
            <small class="form_errors">{{ form_errors(registrationForm.password.first) }}</small>
        </fieldset>

        <fieldset class="form_field">
            {{ form_label(registrationForm.password.second, null, {'label_attr': {'class': 'form_label'}}) }}
            {{ form_widget(registrationForm.password.second, {'attr': {'class': 'form_input'}}) }}
            <small class="form_errors">{{ form_errors(registrationForm.password.second) }}</small>
        </fieldset>

        <fieldset class="form_field-checkbox">
            <input type="checkbox" id="checkboxCgu" name="checkboxCgu" class="checkboxCgu" required/>
            <label for="checkboxCgu" class="rememberMe" >J'ai lu et accepte les conditions générales d'utilisation</label>
        </fieldset>

            <button type="submit" class="form_btn">Envoyer</button>

        <p class="form_field-center">
            <a href="{{ path('login') }}" class="register_button">Vous avez déjà un compte ?</a>
        </p>
        {{ form_end(registrationForm) }}

   
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

{% endblock %}