<section id="{{ sectionName }}">

<header>
    <nav class="container-fluid navbar">
        <div class="nav_links-wrapper">
            <button class="hamburger" aria-label="Ouvrir le menu"><div class="bar"></div></button>
                <ul class="nav_links">
                    <li><img src="{{ asset('build/images/favicon/favicon.png') }}" alt="photo du Père Noël étonné qui tient ses lunettes sur son nez" /></li>
                    <li><a href="{{ path('home') }}" aria-label="Accueil">Accueil</a></li>
                    <li><a href="{{ path('countdown') }}" aria-label="Compte à rebours">Compte à rebours</a></li>
                    <li><a href="{{ path('draw_index') }}" aria-label="Tirage au sort">Tirage au sort</a></li>
                    <li><a href="{{ path('wishlist_index') }}" aria-label="Liste au père Noël">Liste au père Noël</a></li>
                    <li class="dropdown-recipes">
                        <a href="{{ path('recipe_intro') }}" class="dropbtn" aria-label="Idées recettes">Idées recettes</a>
                            <ul class="dropdown-content">
                                <li><a href="{{ path('recipe_intro') }}" aria-label="Consulter nos recettes">Consulter nos recettes</a></li>
                                <li><a href="{{ path('user_recipe_create') }}" aria-label="Créer une recette">Créer une recette</a></li>
                            </ul>
                    </li>
                    {%- if is_granted('IS_AUTHENTICATED_FULLY') -%}
                    <li class="dropdown-profile">
                        {% if app.user and app.user.photo %}
                            <a href="#" class="dropbtn" aria-label="Ouvrir le profil"><img src="{{ asset('uploads/photos/' ~ app.user.photo) }}" id="avatar" alt="Photo de profil"></a>
                        {% else %}
                            <a href="#" class="dropbtn" aria-label="Ouvrir le profil"><img src="{{ asset('images/avatars/defaultAvatar.png') }}" id="avatar" alt="Avatar par défaut"></a>
                        {% endif %}
                        
                        <ul class="dropdown-content">
                            <li><a href="{{ path('profile') }}" aria-label="Profil">Profil</a></li>
                            {%- if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') -%}
                            <li><a href="{{ path('admin') }}" aria-label="Tableau de bord">Dashboard</a></li>
                            {%- endif -%}
                            <li><a href="{{ path('logout') }}" aria-label="Déconnexion">Déconnexion</a></li>
                        </ul>
                    </li>
                    {%- else -%}
                    <li><a id="login_button" href="{{ path('login') }}" aria-label="Se connecter">Se connecter</a></li>
                    {%- endif -%}
                </ul>
        </div>
    </nav>
</header>

