<section id="{{ sectionName }}">
    <header>
        <nav class="container-fluid navbar">
            <button class="hamburger"><a href="#"><div class="bar"></div></a></button>

            <ul class="nav_links-hidden">
                <li><img src="{{ asset('images/favicon/favicon.png') }}" alt="photo du Père Noël étonné qui tient ses lunettes sur son nez" /></li>
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('countdown') }}">Compte à rebours</a></li>
                <li><a href="{{ path('draw') }}">Tirage au sort</a></li>
                <li><a href="{{ path('wishlist') }}">Liste au père Noël</a></li>
                <li><a href="{{ path('recipe_intro') }}">Idées recettes</a></li>
                <li><button class="login_button" href="{{ path('login') }}">Se connecter</button></li>
            </ul>

            <ul class="nav_links">
                <li><img src="{{ asset('images/favicon/favicon.png') }}" alt="photo du Père Noël étonné qui tient ses lunettes sur son nez" /></li>
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('countdown') }}">Compte à rebours</a></li>
                <li><a href="{{ path('draw') }}">Tirage au sort</a></li>
                <li><a href="{{ path('wishlist') }}">Liste au père Noël</a></li>
                <li><a href="{{ path('recipe_intro') }}">Idées recettes</a></li>
                {%- if is_granted('IS_AUTHENTICATED_FULLY') -%}
                <div>
                
                   {# {% if profile and profile.photo %}
                            <img src="{{ profile.photo }}" class="avatar" alt="Photo de profil">
                        {% else %}
                            <img src="{{ asset('images/default-avatar.png') }}" class="avatar" alt="Avatar par défaut">
                        {% endif %} #}
                        <small>
                            <a href="{{ path('logout') }}">Déconnexion</a>
                        </small>
               
                </div>

               {% else %}
                    
                <li><a class="login_button" href="{{ path('login') }}" >Se connecter</a></li>
                {%- endif -%}
                
            </ul>
        </nav>
    </header>
