<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vivez la magie de Noël sur notre site ! Tirage au sort pour des cadeaux inoubliables, idées festives, recettes délicieuses, et décompte jusqu'au jour J. Préparez-vous à une fête pleine de surprises!">
    <meta name="robots" content="index, follow">
        <title>{% block title %}{% if page_title is defined %} {{ page_title }} | {% endif %}Bienvenue sur Easy Christmas !{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/favicon/favicon.png') }}" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    
        {% block stylesheets %}
         {{ encore_entry_link_tags('app') }}
          
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
    
        {% endblock %}
    </head>
    <body>

    {{include('./partials/navbar.html.twig')}}

        {% block body %}
   
        {% endblock %}

    {{include('./partials/footer.html.twig')}}
    
    </body>
</html>
