
{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ recipe.title }}</h1>

<div class="container_detailed">
    <div class="row gy-5">
        <div class="col-sm-3 d-flex justify-content-center" id="recipe_ingredients-size">
            <article class="recipe_ingredients">
                <div class="quantity">
                    <button class="minus1">-</button>
                        <input class="quantity_input" id="quantity_input-choice" min="1" name="quantity_input-choice" value="1" >
                            <button class="add1">+</button>
                </div>
                <strong>Ingrédients :</strong>
                <ul class="ingredient_layout">
                {% for ingredient in recipe.ingredients %}
                    <li class="ingredient_li">
                        <span class="ingredient_label">{{ ingredient.ingredient }}</span>
                        <span class="js-ingredient-qty ingredient_qty">{{ ingredient.quantity }} {{ ingredient.unit }}</span>
                    </li>
                {% endfor %}
                </ul>
            </article>        
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-8 col-sm-6 d-flex justify-content-end">
                    <article class="recipe_info">
                        <strong>Temps de préparation :</strong>
                        <p>{{ recipe.duration }}</p>
                        <strong>Niveau :</strong>
                        <p>{{ recipe.recipedifficulty }}</p>
                    </article>  
                </div>
                <div class="col-4 col-sm-6 d-flex justify-content-end">
                    <img src="{{ asset('uploads/photos/' ~ recipe.photo) }}" class="recipe_photo" alt="Photo de la recette">
                 </div>
            </div>
        </div>
    
        <div class="col-12">
        <article class="recipe_steps">
            <strong>Étapes de préparation :</strong>
                <ol>
                {% for recipesteps in recipe.recipestep %}
                    <li class="recipe_step-description">
                    <p class="stepnumber_strong">{{ recipesteps }}</p>
                    <p class="step-description_justify">{{ recipesteps.description}}</p>
                    </li>
                {% endfor %}
                </ol>
        </article>
        </div>
    </div>
</div>
{% endblock %}


