{% extends 'base.html.twig' %}

{% block body %}
<div class="page-container">
    <div class="recipe-container">
        <h1>{{ recipe.title }}</h1>
        <div class="recipe-header">
            <div class="recipe-photo">
                <img src="{{ asset('uploads/photo/' ~ recipe.photo) }}" alt="Photo de la recette">
            </div>
            <div class="recipe-info">
                <div>
                    <strong>Temps de préparation :</strong>
                    <p>{{ recipe.duration }}</p>
                </div>
                <div>
                    <strong>Niveau :</strong>
                    <p>{{ recipe.recipedifficulty }}</p>
                </div>
                <div>
                    <strong>Ingrédients :</strong>
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li>{{ ingredient.ingredient }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="recipe-description">
            <p>{{ recipe.description }}</p>
        </div>
        <div class="recipe-steps">
            <h2>Étapes de préparation :</h2>
            <ol>
                {% for step in recipe.steps %}
                    <li>{{ step }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}


